.card {
  margin: 30px;
}

.card > p {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  margin-bottom: 5px;
}

.card__rating__star {
  width: 14px;
}

.card__rating__details {
  color: #918e9b;
}

.card__price {
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
}
